node_modules 
npm-debug.log yarn-error.log package-lock.json yarn.lock

.expo 
.expo-shared 
dist
 web-build


/android/app/build
 /ios/build 
 /ios/Pods 
 /ios/.xcodeproj/project.xcworkspace
  /ios/.xcodeproj/xcuserdata

.env 
.env.local 
.env.development.local 
.env.test.local 
.env.production.local

.DS_Store

.vscode
 .idea 

*.tmp *.temp *.bak *.swp *~

.metro

.expo-updates

coverage 